<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/myjavascript.js"></script>
    <link rel="stylesheet" href="/stylesheets/css.css" type="text/css" />
    <title>TITLE</title>
  </head>
    <body >
      <h1>TITLE</h1>
        <div class="row">
          <nav class="top-bar" data-topbar>
              <ul>
                <li><a href="/a">link a</a></li>
                <li><a href="/b">link b</a></li>
                <li><a href="/c">link c</a></li>
                <li><a href="/d">link d</a></li>
                <li><a href="/e">link e</a></li>
              </ul>
          </nav>
        </div>
    </body>
</html>